<style>
nav {
	display: none;
}
input.form-control {
	margin: 0 auto;
	width: 250px;
	display: inline-block;
	padding-left: 120px;
}
#submit, #login {
	margin: 0 auto;
	background-color: transparent;
	border-color: #444;
	color: #444;
	margin-top: 40px;
}
#submit:hover, #login:hover {
	color: #fff;
	background-color: #444;
	border-color: #444;
}
</style>
<form action="{:U('Login/register_handle')}" method="post">
    <div style="margin-top:80px;text-align:center;">
        <img src="__PUBLIC__/img/chba.png" alt="" style="width:240px;">
        <div style="position:relative;left:-40px;">
            <span style="margin-right:10px;position:relative;left:88px;">姓名 Name</span>
            <input type="text" name="name" class="form-control" placeholder="">
        </div>
        <div style="position:relative;left:-40px;">
            <span style="margin-right:10px;position:relative;left:85px;">邮箱 Email</span>
            <input type="text" name="email" class="form-control" placeholder="">
        </div>
        <div style="position:relative;left:-54px;">
            <span style="margin-right:10px;position:relative;left:115px;">手机 Cellphone</span>
            <input type="text" name="cellphone" class="form-control" placeholder="">
        </div>
        <div style="position:relative;left:-54px;">
            <span style="margin-right:10px;position:relative;left:115px;">密码 Password</span>
            <input type="text" name="password" class="form-control" placeholder="">
        </div>
    </div>
    <if condition="$error neq ''">
        <p style="color:#dc2727;font-size:13px;text-align:center;margin-top:15px;margin-bottom:-20px;" id="error">{$error}</p>
        <else/>
        <p style="color:#dc2727;font-size:13px;text-align:center;margin-top:15px;margin-bottom:-20px;display:none;" id="error">{$error}</p>
    </if>
    <div style="text-align:center;">
        <button class="btn btn-default disabled" id="submit" style="margin-right:5px;">注册<br/><span style="font-size:12px;">Register</span></button>
        <a href="{:U('Login/login')}" class="btn btn-default" id="login" style="margin-left:5px;">登录<br/><span style="font-size:12px;">Log In</span></a>
    </div>
</form>
<script>
$(document).ready(function() {
    var name = '';
    var cellphone = '';
    var password = '';

    $('input[name="name"]').keyup(function(event) {
        name = $(this).val();
        cellphone = $('input[name="cellphone"]').val();
        password = $('input[name="password"]').val();


        if (name != '' && cellphone != '' && password != '' && cellphone.length == 11) {
            $('#submit').removeClass('disabled');
        }
        else {
            $('#submit').addClass('disabled');
        }
        
    });

    $('input[name="cellphone"]').keyup(function(event) {
        name = $('input[name="name"]').val();
        password = $('input[name="password"]').val();
        cellphone = $(this).val();

        if (cellphone.length == 11) {
            $.ajax({
                url: "{:U('Login/validate_cellphone')}",
                type: 'POST',
                dataType: 'json',
                data: {
                    cellphone: cellphone
                },
            })
            .done(function(data) {
                if (data['error'] == '') {
                    $('#error').hide();
                }
                else {
                    $('#error').text(data['error']).show();
                }
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
            
        }

        if (name != '' && cellphone != '' && password != '' && cellphone.length == 11) {
            $('#submit').removeClass('disabled');
        }
        else {
            $('#submit').addClass('disabled');
        }
        
    }); 

    $('input[name="password"]').keyup(function(event) {
        password = $(this).val();
        cellphone = $('input[name="cellphone"]').val();
        name = $('input[name="name"]').val();

        if (name != '' && cellphone != '' && password != '' && cellphone.length == 11) {
            $('#submit').removeClass('disabled');
        }
        else {
            $('#submit').addClass('disabled');
        }
    });    
});
</script>