<style>
#detail {
    margin: 60px 5% 30px 5%;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(20, 20, 20, 0.4);
    padding: 40px 5% 30px 5%;
    background-color: rgba(255, 255, 255, 0.7);
}

#detail .item_imgs .image {
    height: 250px;
    background-size: cover;
    background-position: center;
}

#detail #section1 {
    padding-bottom: 30px;
    border-bottom: 1px solid #f56e60;
}

#detail .item_basic_info p {
    margin-bottom: 5px;
}

#detail #highest {
    color: #f56e60;
    margin-left: 10px;
}

#detail #owner {
    margin-left: 10px;
}

#detail #step {
    margin-left: 10px;
}

#detail #start {
    margin-left: 10px;
    color: #f56e60;
}

#detail #donator {
    margin-left: 10px;
}

#detail #num {
    margin-left: 10px;
}

#detail #status {
    margin-left: 10px;
}

#detail #timeleft {
    margin-left: 10px;
}

#detail #want {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

#detail #want span {
    color: #f56e60;
    border: 1px solid #f56e60;
    padding: 10px 15px;
    border-radius: 4px;
    display: inline-block;
}

#detail #want span:hover {
    cursor: pointer;
    background-color: #f56e60;
    color: #fff;
}

#detail #section3 {
    padding: 20px 10px;
    padding-bottom: 0;
}

#detail #section3 h4 {
    padding-left: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-left: 3px solid #f56e60;
}

#detail #section3 p {
    color: #666;
    padding: 5px;
}

#detail #next {
    position: fixed;
    top: 50%;
    right: 0;
    background-color: rgba(102, 102, 102, 0.9);
    color: white;
    text-align: center;
    padding: 5px;
    padding-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: -25px;
}

#detail #previous {
    position: fixed;
    top: 50%;
    left: 0;
    background-color: rgba(102, 102, 102, 0.9);
    color: white;
    text-align: center;
    padding: 5px;
    padding-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -25px;
}
</style>
<div id="detail">
    <div id="section1">
        <div class="item_imgs">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <foreach name="item.imgs" item="i">
                        <div class="item">
                            <div class="image" style="background-image:url(__PUBLIC__{$i})">
                            </div>
                        </div>
                    </foreach>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="item_basic_info">
            <h4 style="margin-top:30px;margin-bottom:20px;font-size:16px;line-height:1.2;">{$item.number}&nbsp;&nbsp;{$item.title}</h4>
            <p>捐赠者<span id="donator">{$item.donator}</span></p>
            <p>起拍价<span id="start">¥ {$item.start}</span></p>
            <p>最高价<span id="highest">¥ {$item.highest}</span></p>
            <p>出价者<span id="owner">{$item.owner}</span></p>
            <p>每次加价<span id="step">¥ {$item.step}</span></p>
            <p>拍品数量<span id="num">{$item.amount}</span></p>
            <p>拍卖状态
                <if condition="$auction['begintime'] gt $now">
                    <span id="status">未开始</span>
                    <elseif condition="$auction['endtime'] lt $now" />
                    <span id="status">已结束</span>
                    <else/>
                    <span id="status">进行中</span>
                </if>
            </p>
            <p>距离结束<span id="deadline" style="display:none;">{$auction.endtime}</span><span id="timeleft"></span></p>
            <if condition="$auction['begintime'] lt $now and $auction['endtime'] gt $now">
                <p id="want"><a href="{:U('Index/action', array('id'=>$item['id'], 'user_id'=>$_SESSION['uid']))}"><span>我要出价</span></a></p>
            </if>
        </div>
    </div>
    <div id="section3">
        <if condition="$item['description']">
            <h4>拍品介绍</h4>
            <p style="margin-bottom:20px;">{$item.description}</p>
        </if>
        <if condition="$item['donatorDesc']">
            <h4>捐赠者介绍</h4>
            <p>{$item.donatorDesc}</p>
        </if>
    </div>
    <div id="previous">
        <a href="{:U('Index/detail',array('id'=>$previous))}" style="color:white;text-decoration:none;">
            <p style="margin-bottom:0;">上一件
                <br>拍品</p>
        </a>
    </div>
    <div id="next">
        <a href="{:U('Index/detail',array('id'=>$next))}" style="color:white;text-decoration:none;">
            <p style="margin-bottom:0;">下一件
                <br>拍品</p>
        </a>
    </div>
</div>
<script>
$(document).ready(function() {
    $('.carousel-inner .item:first-child').addClass('active');
    $('#carousel-example-generic').carousel('cycle');

    timer();

    function timer() {
        console.log($('#status').text());
        if ($('#status').text() == '进行中') {
            console.log($('#deadline').text());
            var ts = parseInt($('#deadline').text()) * 1000 - (new Date()).valueOf();
            var dd = parseInt(ts / 1000 / 60 / 60 / 24, 10);
            var hh = parseInt(ts / 1000 / 60 / 60 % 24, 10);
            var mm = parseInt(ts / 1000 / 60 % 60, 10);
            var ss = parseInt(ts / 1000 % 60, 10);
            dd = checkTime(dd);
            hh = checkTime(hh);
            mm = checkTime(mm);
            ss = checkTime(ss);
            document.getElementById("timeleft").innerHTML = dd + "天" + hh + "时" + mm + "分" + ss + "秒";
        } else {
            document.getElementById("timeleft").innerHTML = "-";
        }

        setTimeout(function() {
            timer();
        }, 1000);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }
});
</script>