<style>
#main .item {
    margin: 10px 8%;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 2px rgba(20, 20, 20, 0.4);
}

#main .item:hover {
    cursor: pointer;
}

#main .item a {
    color: #444;
    text-decoration: none;
}

#main .item img {
    display: inline-block;
    width: 35%;
    border-radius: 5px;
}

#main .item p {
    width: 55%;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 5%;
}
</style>
<div style="padding:40px 20px;text-align:center;">
    <img src="__PUBLIC__/img/chba.png" alt="" style="width:240px;">
    <h4 style="font-size:16px;margin-bottom:15px;">{$auction.title}</h4>
    <p style="margin-bottom:5px;">开始时间<span style="margin-left:16px;">{$auction.begintime|date='Y-m-d H:i:s',###}</span></p>
    <p style="margin-bottom:0;">结束时间<span style="margin-left:16px;">{$auction.endtime|date='Y-m-d H:i:s',###}</span></p>
</div>
<div id="items">
    <foreach name="items" item="v">
        <div class="item">
            <a href="{:U('Index/detail',array('id'=>$v['id']))}">
                <img src="__PUBLIC__{$v.thumbnail}">
                <p>{$v.title}</p>
            </a>
        </div>
    </foreach>
</div>
<script>
$(document).ready(function() {
    $('#nav1').addClass('active');
});
</script>